.input{
    width: 80%;
    float: left;
    text-align: center;
    height: 50px;
font-size: 40px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
}

.button{
    width: 19%;
    float: right;
    height: 50px;
    font-weight: bolder;
    font-size: 30px;
    border-radius: 25px;
    
}